<div class="table-responsive">
  <div class="container-fluid">
    <%= button_to category_path, method: "delete", class: "btn btn-danger input-product input-product-no-margin" do %>
        Kategorie Löschen <i class="fa fa-times"></i>
    <% end%>
    <%= form_for :categorie, method: :put do |f|%>
      <%= f.text_field :catName, class:"form-control input-product", id:"catName" %>
      <%= button_tag type:"button", onclick: "changeCatName(this)", class: "btn btn-primary input-product" do%>
        Name ändern <i class="fa fa-edit"></i>
      <% end %>
    <% end %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Name </th>
        <th> Format </th>
        <th> Mindest-Menge</th>
        <th> Menge </th>
      </tr>
    </thead>
    <tbody>
      <% @current_category.products.each do |product| %>
        <tr id="<%= product.id %>" class="<%=if product.minquantity > product.quantity then 'product bg-danger' else 'product' end%>">
          <td name="name" contenteditable="true" class="editable"><%= product.name %></td>
          <td name="format" contenteditable="true" class="editable"><%= product.format %></td>
          <td name="minquantity" contenteditable="true" class="editable"><%= product.minquantity %></td>
          <td name="quantity" contenteditable="false">
            <%= product.quantity %>
            <i class="fa fa-times text-primary float-right btn-product" onclick="deleteProduct(this)"></i>
            <input type="number" class="float-right numberField" id="numberField<%=product.id%>" value="0">
            <i class="fa fa-minus text-warning float-right btn-product" onclick="removeQuantity(this)"></i>
            <i class="fa fa-plus text-success float-right btn-product" onclick="addQuantity(this)"></i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to products_path(:category_id => @current_category), remote: true, class:"btn btn-success input-product float-left" do %>
    Produkt hinzufügen <i class="fa fa-plus"></i>
  <% end %>
  <%= button_tag style: "margin-right:0", class:"btn btn-primary input-product float-right", onclick:"refreshCat()" do %>
    Neuladen <i class="fa fa-refresh"></i>
  <% end %>
</div>
